<div class="page-wrapper">
  <div class="page-container">
    <nav class="page-nav">
      <ul>
        <li>
          <a href="#">
            <img src="assets/images/logo.svg" alt="" />
          </a>
        </li>

        <li>
          <app-units></app-units>
        </li>
      </ul>
    </nav>

    <h1>How's the sky looking today?</h1>

    <app-city-weather></app-city-weather>

    @if (!weatherSignals.searchBool) {
      <p></p>
    }
    @else if (weatherSignals.cityLoading()) {
      <h2 class="loading-text">Loading...</h2>
    }
    @else {
      <main class="city-meteo-container">
        <div class="main-data-container">
          <div class="location-temps-container">
            <div>
              <h2 class="location-name">{{ weatherSignals.cityName() }}</h2>
              <p class="date">{{ weatherSignals.cityHours()[0] | date: 'fullDate'}}</p>
            </div>
            <div>
              <img src="{{getWeatherIcon(weatherSignals.cityWeatherCode()[0])}}" alt="" fill/>
              @if (unitsSignals.tempsUnit() == "celsius") {
                <p class="location-temps">{{ weatherSignals.cityTemps() }}°</p>
              }@else {
                <p class="location-temps">{{ celsiusToFahrenheit(weatherSignals.cityTemps()) }}°</p>
              }
            </div>
          </div>

          <ul class="location-data-list">
            <li class="feel-temps">
              <p>Feels Like</p>
              @if (unitsSignals.tempsUnit() == "celsius") {
                <p>{{ weatherSignals.cityFeelsTemps() }}°</p>
              }@else {
                <p>{{ celsiusToFahrenheit(weatherSignals.cityFeelsTemps()) }}°</p>
              }
            </li>
            <li class="humidity">
              <p>Humidity</p>
              <p>{{ weatherSignals.cityHumidity() }}%</p>
            </li>
            <li class="wind">
              <p>Wind</p>
              @if (unitsSignals.speedUnit() == "km/h") {
                <p>{{ weatherSignals.cityWind() }} {{ unitsSignals.speedUnit() }}</p>
              } @else {
                <p>{{ kmhToMph(weatherSignals.cityWind()) }} {{ unitsSignals.speedUnit() }}</p>
              }
            </li>
            <li class="precipitation">
              <p>Precipitation</p>
              @if (unitsSignals.heightUnit() == "mm") {
                <p>{{ weatherSignals.cityPrecipitation() }} {{ unitsSignals.heightUnit() }}</p>
              } @else {
                <p>{{ mmToInch(weatherSignals.cityPrecipitation()) }} {{ unitsSignals.heightUnit() }}</p>
              }
            </li>
          </ul>
          <app-table></app-table>
        </div>
        <aside class="hr-forecast-container">
          <h3>Hourly forecast</h3>
          <ul>
            @for (item of weatherSignals.cityHourlyTemps(); track weatherSignals.cityHourlyTemps(); let idx = $index) {
              <li>
                @if (unitsSignals.tempsUnit() == "celsius") {
                  <p><span class="img-wrapper"><img src="{{getWeatherIcon(weatherSignals.cityWeatherCode()[idx])}}" alt=""></span>{{ weatherSignals.cityHours()[idx] | date: 'shortTime' }} <span>{{ item | number: '1.0-0' }}°</span></p>
                } @else {
                  <p><span class="img-wrapper"><img src="{{getWeatherIcon(weatherSignals.cityWeatherCode()[idx])}}" alt=""></span>{{ weatherSignals.cityHours()[idx] | date: 'shortTime' }} <span>{{ celsiusToFahrenheit(item) | number: '1.0-0' }}°</span></p>
                }
              </li>
            }
          </ul>
        </aside>
      </main>
    }
  </div>
</div>
